<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">BookcaseManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Strona główna</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item d-none d-lg-block">
                        <span class="navbar-text">Witaj @User.Identity.Name</span>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <span class="navbar-text">&nbsp;|&nbsp;</span>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("Logout", "Account")">Wyloguj się</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Zaloguj się</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Account")">Zarejerstruj się</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
